<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <br>
    <hr>
        <a href="/login">Login</a>
        <a href="/home">Home</a>
        <a href="/another">Another</a>
    <hr>
    <br>
    <form action="/login/logged" method="post">
        <br><br>
        <hr>
        <div>
            <input type="text" name="name" id="name">
        </div>
        <br><br>
        <hr>
        <div>
            <input type="text" name="pass" id="pass">
        </div>
        <br><br>
        <hr>
        <div>
            <input type="submit" name="submit" id="submit">
        </div>
        <br><br>
        <hr>
    </form>
    
</body>
</html>